<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853725716366-us7dad2rv8fdoq91u7f9ge945mr08bv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853725716366-us7dad2rv8fdoq91u7f9ge945mr08bv3</string>
</dict>
</plist>
</content>
</invoke>